tones<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Text</th>
      <th>Tones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@realDonaldTrump You know what’s more important than a payroll tax cut?</td>
      <td>[Analytical]</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Protecting people’s lives, which matter so… https://t.co/j3uPdOkDYw</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>2</th>
      <td>@realDonaldTrump Trump doesn't get it.</td>
      <td>[Analytical]</td>
    </tr>
    <tr>
      <th>3</th>
      <td>International travel affects so many industries and so many jobs.</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>4</th>
      <td>This is al… https://t.co/6XDPBEDk9v</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>5</th>
      <td>@realDonaldTrump Global pandemic?</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Tax cuts!</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Americans dying?</td>
      <td>[Sadness]</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Tax cuts!</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Not enough tests?</td>
      <td>[]</td>
    </tr>
    <tr>
      <th>10</th>
      <td>TAX CUUUUUU</td>
      <td>[]</td>
    </tr>
  </tbody>
</table>